
<div class="hero">
  <br>
  <div class="frosty col-10 offset-1 text-center">
    <br>
    <h1>Learn magic from the pros</h1>
    <br>
    <h2>I'm an illiusionist, Emilio</h2>
    <br>
    <%= link_to 'frosty', '#', class: "btn btn-primary" %>
    <br><br>
  </div>
</div>

<br>

<div class="row feature text-center">
  <div class="col-12 col-sm">

    <h1>Feature 1</h1>
    <br>
    <p>Follow your passion</p>

  </div>
  <div class="col-12 col-sm">

    <h1>Feature 2</h1>
    <br>
    <p>Be heard</p>

  </div>
  <div class="col-12 col-sm">

    <h1>Feature 3</h1>
    <br>
    <p>Feel like you matter</p>

  </div>
</div>






</div>
